/* Basic styles ***************/
/* Color scheme chosen is http://colorhunt.co/c/1649 */

body {
  background: #C9D6DF;
  
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 24px;
}

p {
  font-size: 1em;
  margin: 2% 2%;
}

button {
  width: 25%;
  height: 3.8em;
  font-size: 24px;
  margin: 0;
  
  justify-content: center;
  text-align: center;
  
  background-color: #F0F5F9;
  color: #52616B;
  
  border: none;
  
  float: left;
  
  /*border-radius: 20%;*/
}

#plus:after {
  /* INCREASE the size so that it doubles */
  height: 7.4em;
}

/* Main styles ****************/

#info p {
  display: flex;
  position: absolute;
  float: left;
  
  height: 1em;
  width: 1em;
  
  left: 1%;
  background-color: #F0F5F9;
  padding: 1%;
  
  margin-bottom: 1%;
  
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  z-index: 2;
  
  font-size: 24px;
} 

#project-description {
  position: absolute;
  top: 130px;
  left: 20px;
  background-color: #F0F5F9;
  display: none;
  
  width: 20%;

  font-size: 16px;
}

.calc-body {
  max-width: 380px;
  min-width: 200px;
  width: 50%;
  height: 50%; /* 80% in codepen */
  
  margin: auto;
  margin-top: 1em;
  
  text-align: center;
  background-color: #F0F5F9;
  
  display: flex;
  justify-content: center;
}

#calc-name {
  padding: 1% 2% 2%;
  margin-bottom: 1%;
  font-family: "Century Gothic", "Arial", sans-serif;
  font-size: 1.2em;
}

#display {
  background-color: #F0F5F9;
  width: 100%;
  margin: auto;
}

#result {
  text-align: right;
  padding: 5% 5%;
  background: #52616B;
  color: #F0F5F9;
  border: 1px solid grey;
  
  font-size: 32px;
  
/*  border-radius: 5%;*/
}

.key-row button {
  margin: 0;
  padding: 0;
}

#info-bottom {
  display: none;
}

/* Layout styles **************/

/* Pseudoclass styles */

button:hover {
  background-color: #52616B;
  color: #F0F5F9;
}


/* Media Queries **************/
@media (min-width: 900px) {
  #project-description {
    top: 150px;
  }
}


@media (max-width: 680px) {
  body {
    font-size: 22px;
  }
  
  h1, h2 {
    display: hide;
  }
  
  button {
    font-size: 24px;
    height: 4em;
  }
    
   .calc-body {
    width: 80%;
  }

  #result {
    font-size: 24px;
  }
  
  /* Dealing with info and info-bottom */
  
  #info {
    display: none;
  }
  
  #info-bottom {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
  }
}


@media (max-width: 530px) {
  /* hide the first div */

  
  #info p {
    display: block;
  }
  
  #project-description {
    width: 25%;
  }
  
  button {
    height: 3.8em;
  }
}

@media (max-width: 380px) {
  button {
    height: 2.5em;
  }
  
  #result {
    font-size: 20px;
  }
}