/* Basic styles ***************/
/* Color scheme chosen is http://colorhunt.co/c/1649 */

body {
  background: #C9D6DF;
  
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 24px;
}

p {
  font-size: 1em;
  margin: 2% 2%;
}

button {
  width: 25%;
  height: 3em;
  font-size: 24px;
  margin: 0;
  
  background-color: #F0F5F9;
  color: #1E2022;
  
  border: none;
  
  float: left;
  
  /*border-radius: 20%;*/
}

/* Main styles ****************/

#info p {
  display: flex;
  position: relative;
  float: left;
  
  height: 1em;
  width: 1em;
  
  left: 1%;
  background-color: #F0F5F9;
  padding: 1%;
  
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  
  font-size: 24px;
} 

#project-description {
  position: absolute;
  top: 100px;
  left: 20px;
  background-color: #F0F5F9;
  display: none;

  font-size: 16px;
}

.calc-body {
  max-width: 380px;
  min-width: 200px;
  width: 50%;
  height: 50%; /* 80% in codepen */
  
  margin: auto;
  margin-top: 1em;
  
  text-align: center;
  background-color: #F0F5F9;
  
  display: flex;
  justify-content: center;
/*  border-radius: 5%;*/
}

#calc-name {
  padding: 1% 2% 2%;
  margin-bottom: 1%;
  font-family: "Century Gothic", "Arial", sans-serif;
  font-size: 1.2em;
}

#display {
  background-color: #F0F5F9;
  width: 100%;
  margin: auto;
/*  border: 1px solid darkslategrey;*/
  
/*  border-radius: 10%;*/
  
}

#result {
  text-align: right;
  padding: 5% 5%;
  background: #52616B;
  color: #F0F5F9;
  border: 1px solid grey;
  
  font-size: 32px;
  
/*  border-radius: 5%;*/
}

.key-row button {
  margin: 0;
  padding: 0;
}

/* Layout styles **************/

/* Pseudoclass styles */

button:hover {
  background-color: #52616B;
  color: #F0F5F9;
}


/* Media Queries **************/
@media (max-width: 680px) {
  body {
    font-size: 22px;
  }
  
  h1, h2 {
    display: hide;
  }
  
  button {
    font-size: 18px;
  }

  #result {
    font-size: 16px;
  }
}

@media (max-width: 300px) {
  #result {
    font-size: 12px;
  }
}